.movie-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    overflow: hidden;
    cursor: pointer;
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
  }
  
  .movie-info {
    padding: 10px;
    background-color: #fff;
  }
  
  .movie-info h3 {
    margin: 0 0 10px;
  }

  .App {
    text-align: center;
    margin: auto;
}
 
.container {
    text-align: center;
    margin: auto;
    max-width: 30rem;
}
 
.geeks {
    color: green;
}
 
.text {
    display: inline;
    width: 90%;
}
 
.read-or-hide {
    color: rgb(192, 192, 192);
    cursor: pointer;
}
.text-line-clamp {
    display: -webkit-box;
    pointer-events: none;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.fsize14 {
    font-size: 14px;
}
.text989898 {
    /* color: #989898; */
    color: #4c4141
}
.line-h22px {
    line-height: 22px;
}
.text-justify{
    text-align: justify;
}
  
.text-title{
    color: #3b3b3b;
}
.text-left{
    text-align: left;
}

.search-fixed {
    position: absolute;
    bottom: 20px;
    right: 41px;
}

.card-shadow:hover {
    /* box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25); */
    /* box-shadow: 10px 10px lightblue; */
    /* width: 250px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center; */
  box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
}

.search-height {
    padding: 6px;
    cursor: pointer;
}

.search-height-fix {
    height: 26px;
}